<button (click)="updateMeal(globals.usermeal)">Save</button><button>Discard Changes</button>
<div>
    <ul>
      <li>{{globals.usermeal.meal.name}}<button>Zmień nazwę</button></li>
      <li>{{globals.usermeal.meal.meal_date}}</li>
    </ul>
</div>
<div>
  <h5>Usuń produkty</h5>
  <ul>
  <li><button>Dodaj</button></li>
  <li *ngFor="let product of globals.usermeal.products">{{product.name}} <button (click)="deleteProductFromMeal(product)"> Delete</button></li>

  </ul>
</div>
<div>
  <h5>Dodaj produkty</h5>
  <li *ngFor="let prod of productList">{{prod.name}} <button (click)="addProduct(prod)"> Add</button></li>
</div>