<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 

<div class="nav-bar">

    <div class="nav-bar-container">
        <i class="fas fa-bars icon"></i> 
        <h1>Diet Manager</h1>   
    </div>

    <div class="diet-nav-container">
            <ul>
                <li (click)="decreaseDate()">{{this.formatDate(this.prevDate)}}</li>
                <li>{{this.formatDate(this.currentDate)}}</li>
                <li (click)="increaseDate()">{{this.formatDate(this.nextDate)}}</li>
            </ul>       
    <div>

</div>




<div class="grid-container">

            <div class="dashboard">
                <div class="diet">


                        <ng-container *ngFor="let oneMeal of userDiet; let i = index">
                                <ng-container *ngIf="oneMeal.mealDate == this.formatDate(this.currentDate)">
                                    <table>
                                    <tr (click)="openTable(i)">    
                                        <th class="title">                                  
                                            <button type="button" class="close" style="float: left">
                                                    <i class="fas fa-caret-down"></i>
                                            </button>
                                            {{oneMeal.name}}
                                        </th>
        
                                        <th>Proteins:{{this.Proteins(oneMeal.mealsList)}}</th>
                                        <th>Fats: {{this.Fats(oneMeal.mealsList)}}</th>
                                        <th>Carbs: {{this.Carbs(oneMeal.mealsList)}}</th>
                                        <th>Calories: {{this.Calories(oneMeal.mealsList)}}</th>
                                        <th>
                                            <button type="button" class="close" aria-label="Close">
                                                    <i class="fas fa-cog"></i>
                                            </button>
                                        </th>
                                        <th></th> 
                                    </tr>
                                    <ng-container  *ngFor="let object of oneMeal.mealsList; let j = index" >
                                         <tr [hidden]="tableManagment(i)">
                                            <td class="title">{{object.product.name}}</td>
                                            <td>{{solveMacro(object.product.proteins,object.productWeight)}}</td>
                                            <td>{{solveMacro(object.product.fats,object.productWeight)}}</td>
                                            <td>{{solveMacro(object.product.carbs,object.productWeight)}}</td>
                                            <td>{{solveMacro(object.product.kcal,object.productWeight)}}</td>
                                            <td>{{object.productWeight}} g</td>
                                            <td></td>
                                        </tr> 
                                    </ng-container>
                                    </table>
                                </ng-container>
        
                            </ng-container>
                            <button class="btn-workout" (click)="open(content)">Add meal</button> 
      
                    </div>                                 
                </div> 


                  <!-- modale do zmiany  -->
                  <ng-template #content let-modal>
                        <div class="modal-header">
                          <h4 class="modal-title" id="modal-basic-title">Add meal</h4>
                          <button type="button" class="close" aria-label="Close" (click)="closeAndDiscard()" (click)="modal.dismiss()">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <label>Meal name:</label>
                            <input type="text" class="form-control" [(ngModel)]="object.name"/>
                            <button type="button" class="btn btn-outline-dark" (click)="open(products)">Chose products</button> 
                            
                            <span>Meal products:</span>   
                            <hr>
                            <ul class="list-group">
                                <ng-container *ngFor="let item of object.mealsList">
                                    <li class="list-group-item">
                                        <span class="product-name">{{item.product.name}} </span>
                                        <span class="product-info">B: {{item.product.proteins}}</span> 
                                        <span class="product-info">W: {{item.product.carbs}}</span> 
                                        <span class="product-info">T: {{item.product.fats}}</span> 
                                        <span class="product-info">                          
                                            <button (click)="deleteProduct(product)" type="button" class="close" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </span> 
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-dark" (click)="closeAndSave()" (click)="modal.close()">Save & Close</button>
                          <button type="button" class="btn btn-outline-dark" (click)="closeAndDiscard()" (click)="modal.close()">Close</button>
                        </div>
                    </ng-template>
                      

                    <ng-template #products let-modal>
                            <div class="modal-header">
                              <h4 class="modal-title" id="modal-basic-title">Chose products </h4>
                              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                            <label for="typeahead-basic">Search for a product</label>
                            <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>
                            <label>Weight product</label>
                            <input  type="text" class="form-control" [(ngModel)]="productWeightInMeal"/>
                            <button class="btn btn-outline-dark" (click)="addProductToMeal()" (click)="modal.dismiss()">Add</button>
                            <button class="btn btn-outline-dark" (click)="open(ownproduct)">Add own product</button>  
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-dark" (click)="modal.close()">Close</button>
                            </div>
                    </ng-template>

                    <ng-template #ownproduct let-modal>

                        <div class="modal-header">
                          <h4 class="modal-title" id="modal-basic-title">Add own product</h4>
                          <button type="button" class="close" aria-label="Close" (click)="closeOwnProductWithoutSave()" (click)="modal.dismiss()">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                                
                        <label>Nazwa produkty</label>
                        <input class="form-control" type="text" [(ngModel)]="productName"/>
                        <label>Białko g/100g</label>
                        <input class="form-control" type="text" [(ngModel)]="productProteins"/>
                        <label>Fats g/100g</label>
                        <input class="form-control" type="text" [(ngModel)]="productFats"/>
                        <label>Węglowodany g/100g</label>
                        <input class="form-control" type="text" [(ngModel)]="productCarbs"/>
                        <label>Kcal kcal/100g</label>
                        <input class="form-control" type="text" [(ngModel)]="productKcal"/>
                        <label>Waga produktu</label>
                        <input class="form-control" type="text" [(ngModel)]="productWeight" />
                        
                        <button type="button" class="btn btn-outline-dark" (click)="addProduct()" (click)="modal.dismiss()">Save product</button>

                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-dark" (click)="closeOwnProductWithoutSave()" (click)="modal.dismiss()">Close</button>
                        </div>
                    </ng-template>


                </div>
    </div>
</div>
