*{
    margin: 0;
    padding: 0;
} 
body {
    font-family: 'Lato', sans-serif;
}

.nav-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 8px solid #FBA827;
    
}
.nav-bar .nav-bar-container{
    width: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.nav-bar-container i{
    font-size: 1.8rem;
    width: 31px;
    padding: 3px;
    border-left: 5px solid white;
}
.nav-bar-container i:hover{
    cursor: pointer;
    border-left: 5px solid #FBA827; 
}
.nav-bar-container h1{
    flex-grow: 1;
    text-align: center;
    font-size: 1.7rem;
}
.diet-nav-container{
    width: 450px;
}

.diet-nav-container ul{
    list-style: none;
    margin: 0;
    padding: 0;
  
}
.diet-nav-container ul li{
    background-color: #FBA827;
    display: inline-block;
    cursor: pointer;
    height: 50px;
    width: 33%;
    line-height: 50px;
    text-align: center;

} 
.diet-nav-container ul li:first-child{
    margin: 0 1px 0 0;
}
.diet-nav-container ul li:last-child{
    margin: 0 0 0 1px;
}

.diet-nav-container ul li:nth-child(even){
    margin: 0 1px 0;
}


/* old */
 .diet table{
    border-collapse: collapse;
    width: 100%;
}
.title{
    width: 45%;
    text-align: left;
}
.diet table th{
    background-color: #FBA827;
    border-collapse: collapse;
    height: 45px;
    padding: 5px;
    border-bottom: 1px solid rgb(255, 231, 192);
}
.diet table td{
    background-color: rgb(255, 209, 136);
    border-collapse: collapse;
    height: 15px;
    padding: 5px;
    border-bottom: 1px solid rgb(255, 231, 192);
}

.datebanner{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}




.workout-table {
    list-style-type: none;
    width: 360px;
    display: table;
    table-layout: fixed;
  }
.workout-table li {
    display: table-cell;
    width: 120px;
    text-align: center;
    background-color: #fdd79b;
    border-bottom: 1px solid #fef5e6;
}
.hidden{
    display: none;
}

.no{
    display: inline-block;
}

.btn-workout{
    border: 1px solid #fdd79b;
    width: 80px;
    height: 40px;
    line-height: 40px;
}
.btn-workout:hover{
    cursor: pointer;
}
.date-box{
     display: block; 
    width: 80px;
    height: 40px;
    line-height: 40px;
}

.product-info{
    display: inline-block;
    width: 70px;
}
.product-name{
    display: inline-block;
    width: 120px;
}






