*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
} 
button:focus { 
    outline: none; 
}
.nav-bar{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 8px solid #FBA827;
    
    
}
.nav-bar .nav-bar-container{
    width: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.nav-bar-container i{
    font-size: 1.8rem;
    width: 31px;
    padding: 3px;
    border-left: 5px solid white;
}
.nav-bar-container i:hover{
    cursor: pointer;
    border-left: 5px solid #FBA827; 
}
.nav-bar-container h1{
    flex-grow: 1;
    text-align: center;
    font-size: 1.7rem;
}
.diet-nav-container{
    width: 450px;
    margin: 0 0 2px 0;
}

.diet-nav-container ul{
    list-style: none;
    margin: 0;
    padding: 0;
  
}
.diet-nav-container ul li{
    background-color: #FBA827;
    display: inline-block;
    cursor: pointer;
    height: 50px;
    width: 33%;
    line-height: 50px;
    text-align: center;

} 

.diet-nav-container ul li:first-child{
    margin: 0 1px 0 0;
}
.diet-nav-container ul li:last-child{
    margin: 0 0 0 1px;
}

.diet-nav-container ul li:nth-child(even){
    margin: 0 1px 0;
}

.meals-container{
    display: flex;
    flex-direction: column;
}
.meals-container .meal-container{
    width: 450px;
}

.meals-container .meal-container .meal-info{
    height: 54px;
    margin: 2px;
    padding: 2px;
    background-color: #FBA827;
    display: flex;
    flex-wrap: wrap;
    
}
.meals-container .meal-container .meal-info:hover{
    cursor: pointer;
}

.meals-container .meal-container .meal-info .meal-name{
    display: block;
    height: 30px;
    width: 400px;
    display: block;
    font-size: 1.3rem;

}
.meals-container .meal-container .meal-info ul{
    height: 20px;
    width: 400px;
    padding: 0 0 0 45px;
    display: flex;
    flex-direction: row;
    list-style:none; 
 
}
.meals-container .meal-container .meal-info ul li{
    font-size: .8rem; 
    width: 30px;
    height: 20px;
    line-height: 20px;
    margin: 0 4px 0 0;
   
}
.meals-container .meal-container .meal-info ul li:last-child{
    width: 120px;
}

.meals-container .meal-container .meal-details{
    background-color: rgb(246, 246, 246);
    margin: 2px;
}

.meal-product{
    height: 74px;
}
.meal-product .product-name{
    display: inline-block;
    width: 80%;
    padding: 0 0 0 30px;
    font-size: 1rem;
}
.meal-product .modal-delete-product{
    display: inline-block;
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: gray;
}
.meal-product .product-weight{
    display: block;
    width: 100%;
    padding: 0 0 0 45px;
    font-size: .68rem;
}

.meal-product ul{
    height: 20px;
    width: 400px;
    padding: 0 0 0 45px;
    display: flex;
    flex-direction: row;
    list-style:none; 
 
}
.meal-product ul li{
    font-size: .68rem; 
    width: 30px;
    height: 20px;
    line-height: 20px;
    margin: 0 4px 0 0;
   
}
.meal-product ul li:last-child{
    width: 120px;
}


/* modal */
.create-meal-modal{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.3);
    justify-content: center;
    display:none;
}

.create-meal-modal .create-meal-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 450px;
    min-height: 250px;
    background-color: white;
}
.create-meal-modal .create-meal-container .modal-title{
    width: 450px;
    padding: 10px 25px;
    display: flex;
    flex-direction: row;
    /* height: 50px; */
}
.modal-title h4{
    display: block;
    flex-basis: 90%;
    width: 90%;
    font-size: 1.6rem;
    line-height: 60px;
    height: 60px;
  
}
.modal-close-btn{
    border: none;
    background-color: inherit;
    width: 10%;
    font-size: 46px;
    cursor: pointer;
    display: inline-block;
    
}
.create-meal-modal .create-meal-container .meal-name{
    width: 350px;
    /* width: 80%; */
    height: 30px;
    font-size: 1.1rem;
    padding: 5px;
    margin: 5px;
    border: none;
    border-bottom: 2px solid #FBA827;
}
.create-meal-modal .create-meal-container .modal-add-product{
    margin: 5px;
    padding: 5px;
    width: 350px;
    height: 25px;
}
.create-meal-modal .create-meal-container .modal-add-product span{
    display: inline-block;
    width: 70%;
    height: 25px;
}
.create-meal-modal .create-meal-container .modal-add-product button{
    display: inline-block;
    width: 30%;
    height: 25px;
    font-size: 0.9rem;
    border: 1px solid #FBA827;
    background-color: inherit;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.create-meal-modal .create-meal-container .modal-add-product button:hover{
    background-color: #FBA827;
}

.insert-product-weight{
    padding: 0 0 0 30px;
}
.insert-product-weight label{
    display: inline-block;
}
.insert-product-weight .product-weight{
    padding: 0 0 0 5px;
    margin: 0 0 0 5px;
    display: inline-block;
    width: 150px;
    font-size: 0.8rem;
    border: none;
    border-bottom: 2px solid #FBA827;
    text-align: center;

}
.product-add-btn{
    font-size: 1.4rem;
    width: 40px;
    height: 40px;
    /* float: right; */
    cursor: pointer;
    /* padding: 15px; */
    border: 2px solid #FBA827;
    background-color: transparent;
    transition: ease-in-out 0.2s;
}
.product-add-btn:hover{
    background-color: #FBA827;
}
/* old */
 .diet table{
    border-collapse: collapse;
    width: 100%;
}
.title{
    width: 45%;
    text-align: left;
}
.diet table th{
    background-color: #FBA827;
    border-collapse: collapse;
    height: 45px;
    padding: 5px;
    border-bottom: 1px solid rgb(255, 231, 192);
}
.diet table td{
    background-color: rgb(255, 209, 136);
    border-collapse: collapse;
    height: 15px;
    padding: 5px;
    border-bottom: 1px solid rgb(255, 231, 192);
}

.datebanner{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}




.workout-table {
    list-style-type: none;
    width: 360px;
    display: table;
    table-layout: fixed;
  }
.workout-table li {
    display: table-cell;
    width: 120px;
    text-align: center;
    background-color: #fdd79b;
    border-bottom: 1px solid #fef5e6;
}
.hidden{
    display: none;
}

.no{
    display: inline-block;
}

.btn-workout{
    border: 1px solid #fdd79b;
    width: 80px;
    height: 40px;
    line-height: 40px;
}
.btn-workout:hover{
    cursor: pointer;
}
.date-box{
     display: block; 
    width: 80px;
    height: 40px;
    line-height: 40px;
}

.product-info{
    display: inline-block;
    width: 70px;
}
/* .product-name{
    display: inline-block;
    width: 120px;
} */






