Login
<div>
  <form>
    <input type="text" placeholder="login" [(ngModel)]="username" name="username" required>
    <input type="password" placeholder="password" [(ngModel)]="password" name="password" required>
    <button (click)="login()">Login</button>
  </form>
</div> 
<!-- Register
<div>
    <form>
        <input type="text" placeholder="login" [(ngModel)]="username" name="username" required>
        <input type="password" placeholder="password" [(ngModel)]="password" name="password" required>
        <input type="password" placeholder="re-password" [(ngModel)]="password" name="password" required>
        <input type="text" placeholder="email" [(ngModel)]="email" name="email" required>
        <button (click)="register()">Register</button>
      </form>
</div> -->

