<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
<body>
    <div class="container">
        <div class="form-container sign-in-container" [hidden]="swapFormBoolean">     
            <form [formGroup]="loginForm" (ngSubmit)="authenticate()"> 
                    <h1>Sign in</h1>
                    <input type="login" formControlName="login" placeholder="Login">
                    <input type="password" formControlName="password" placeholder="Password">
                    <a href="#">Forgot your password?</a>
                    <button [disabled]=loginForm.invalid>Sign In</button>
            </form>
        </div>
        <div class="info-container">
            <div class="info">
                <div class="info-panel info-register" [hidden]="swapFormBoolean">
                    <p>Don't have an account? Join to us!</p>
                    <button class="button-negative" >Sign Up</button>
                </div>
            </div>
        </div>
    </div>
</body>
